<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /no1/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /no1/index.php [L]
</IfModule>

